.couleur{
    background-image: url("../assets/img/jaune-1536x1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1{
    background-image: url("../assets/img/La-couleur-violet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg2{
    background: rgb(0, 119, 255);
    width: 400px;
    margin-right: 530px;
}
.bg3{
    height: 50px;
    width: px;
    margin-left: 51px;
    margin-bottom: 10px;
    color: white;
}
.bg4{
    color: white;

}
.bg5{
    margin-left: 83px;
}
.bg6{
    margin-left: 83px;
    
}
.bg7{
    margin-left: 60px;
    margin-bottom: 30px;
    color: white;
}
.bg0{
    margin-left: 17px;
    color: white;

}
.bg31{
    width: 240px;
}





.couleur1{
    background-image: url("../assets/img/jaune-1536x1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bg8{
    background-image: url("../assets/img/La-couleur-violet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg9{
    background: rgb(0, 119, 255);
    width: 400px;
    margin-right: 530px;
}
.bg10{
    height: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    color: white;
}
.bg11{
    color: white;
}
.bg12{
    margin-left: 80px;
}
.bg13{
    margin-left: 83px;

}
.bg14{
    margin-left: 60px;
    margin-bottom: 30px;
    color: white;
}
.bg00{
    margin-left: 17px;
    color: white;
}
.bg32{
    width: 240px;
}



.bd1{
    background-image: url("../assets/img/feuille-naturine2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bd2{
    background: yellowgreen;
    width: 400px;
    margin-left: 450px;
}
.bd3{
    height: 50px;
    width: px;
    margin-left: 51px;
    margin-bottom: 10px;
    color: white;
}
.bd4{
    color: white;

}
.bd5{
    margin-left: 17px;
    color: white;
 }
 .bd6{
    margin-left: 80px;
 }
 .bd7{
    margin-left: 81px;
 }
 .bd8{
    margin-left: 580px;
    margin-bottom: 10px;
    color: white;
 }
 .bd9{
    width: 240px;
 }






 .bc1{
    background-image: url("../assets/img/feuille-naturine2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .bc2{
    background: yellowgreen;
    width: 400px;
    margin-left: 450px;
}
.bc3{
    height: 50px;
    width: px;
    margin-left: 51px;
    margin-bottom: 10px;
    color: white;
}
.bc4{
    color: white;
}
.bc5{
    margin-left: 17px;
    color: white;
 }
 .bc6{
    margin-left: 80px;
 }
 .bc7{
    margin-left: 81px;
 }
.bc8{
    margin-left: 580px;
    margin-bottom: 10px;
    color: white;
}
.bc9{
    width: 240px;
 }






















